# .NET
bin/
obj/

# Secrets & Environment
appsettings.Development.json

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
*.snupkg


# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
